USE [master]
GO
/****** Object:  Database [u_lewczak]    Script Date: 30.01.2026 12:38:01 ******/
CREATE DATABASE [u_lewczak]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'u_lewczak', FILENAME = N'/var/opt/mssql/data/u_lewczak.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'u_lewczak_log', FILENAME = N'/var/opt/mssql/data/u_lewczak_log.ldf' , SIZE = 66048KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [u_lewczak].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [u_lewczak]
GO
/****** Object:  User [TestowyKlient]    Script Date: 30.01.2026 12:38:02 ******/
CREATE USER [TestowyKlient] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [Role_Warehouse]    Script Date: 30.01.2026 12:38:02 ******/
CREATE ROLE [Role_Warehouse]
GO
/****** Object:  DatabaseRole [Role_Sales]    Script Date: 30.01.2026 12:38:02 ******/
CREATE ROLE [Role_Sales]
GO
/****** Object:  DatabaseRole [Role_Production]    Script Date: 30.01.2026 12:38:02 ******/
CREATE ROLE [Role_Production]
GO
/****** Object:  DatabaseRole [Role_Management]    Script Date: 30.01.2026 12:38:03 ******/
CREATE ROLE [Role_Management]
GO
/****** Object:  DatabaseRole [Role_Customer]    Script Date: 30.01.2026 12:38:03 ******/
CREATE ROLE [Role_Customer]
GO
ALTER ROLE [Role_Customer] ADD MEMBER [TestowyKlient]
GO
/****** Object:  UserDefinedTableType [dbo].[ComponentListType]    Script Date: 30.01.2026 12:38:03 ******/
CREATE TYPE [dbo].[ComponentListType] AS TABLE(
	[ComponentID] [int] NOT NULL,
	[QuantityNeeded] [int] NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ListID]    Script Date: 30.01.2026 12:38:03 ******/
CREATE TYPE [dbo].[ListID] AS TABLE(
	[Value] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ListProductQuantity]    Script Date: 30.01.2026 12:38:03 ******/
CREATE TYPE [dbo].[ListProductQuantity] AS TABLE(
	[ProductID] [int] NULL,
	[Quantity] [int] NULL
)
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 30.01.2026 12:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[PlannedShipDate] [datetime] NOT NULL,
	[ShipmentDate] [datetime] NULL,
	[Freight] [money] NOT NULL,
	[ShipperID] [int] NOT NULL,
 CONSTRAINT [Orders_pk] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[test]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[test] as
select * from Orders
GO
/****** Object:  Table [dbo].[Component]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Component](
	[ComponentID] [int] NOT NULL,
	[ComponentName] [varchar](100) NOT NULL,
	[ComponentCategoryID] [int] NOT NULL,
	[QuantityInStock] [int] NOT NULL,
	[ReservedQuantity] [int] NOT NULL,
	[MinStockLevel] [int] NOT NULL,
 CONSTRAINT [Component_pk] PRIMARY KEY CLUSTERED 
(
	[ComponentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Component_ak_ComponentName] UNIQUE NONCLUSTERED 
(
	[ComponentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Missing Components]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[Missing Components] as
    select *
    from Component
    where QuantityInStock - ReservedQuantity < 15
GO
/****** Object:  Table [dbo].[Product]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] NOT NULL,
	[ProductName] [varchar](100) NOT NULL,
	[ProductCategoryID] [int] NOT NULL,
	[SellingPrice] [money] NOT NULL,
	[ProductionTime] [int] NOT NULL,
	[QuantityInStock] [int] NOT NULL,
	[ReservedQuantity] [int] NOT NULL,
	[Discontinued] [bit] NOT NULL,
	[MinStockLevel] [int] NOT NULL,
 CONSTRAINT [Product_pk] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Product_ak_ProductName] UNIQUE NONCLUSTERED 
(
	[ProductName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Missing Products]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[Missing Products] as
    select *
    from Product
    where QuantityInStock - ReservedQuantity < 15
GO
/****** Object:  Table [dbo].[VatCategories]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VatCategories](
	[VatID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [VatCategories_pk] PRIMARY KEY CLUSTERED 
(
	[VatID] ASC,
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerCompany]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerCompany](
	[CustomerID] [int] NOT NULL,
	[CompanyName] [varchar](100) NOT NULL,
	[Fax] [varchar](10) NOT NULL,
	[ContactName] [varchar](100) NOT NULL,
	[NIP] [varchar](10) NOT NULL,
 CONSTRAINT [CustomerCompany_pk] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CustomerCompany_ak_CompanyName] UNIQUE NONCLUSTERED 
(
	[CompanyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CustomerCompany_ak_Fax] UNIQUE NONCLUSTERED 
(
	[Fax] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CustomerCompany_ak_NIP] UNIQUE NONCLUSTERED 
(
	[NIP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerPerson]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerPerson](
	[CustomerID] [int] NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
 CONSTRAINT [CustomerPerson_pk] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Discount] [decimal](3, 2) NOT NULL,
 CONSTRAINT [OrderDetails_pk] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [varchar](100) NOT NULL,
 CONSTRAINT [ProductCategory_pk] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ProductsCategory_ak_CatName] UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[Address] [varchar](255) NOT NULL,
	[PostalCode] [varchar](6) NOT NULL,
	[CityID] [int] NOT NULL,
 CONSTRAINT [Customer_pk] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Customer_ak_Address] UNIQUE NONCLUSTERED 
(
	[Address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Customer_ak_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Customer_ak_Phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipper]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipper](
	[ShipperID] [int] NOT NULL,
	[CompanyName] [varchar](100) NOT NULL,
	[Address] [varchar](255) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[Fax] [varchar](10) NOT NULL,
	[PostalCode] [varchar](6) NOT NULL,
	[CityID] [int] NOT NULL,
 CONSTRAINT [Shipper_pk] PRIMARY KEY CLUSTERED 
(
	[ShipperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Shipper_ak_Address] UNIQUE NONCLUSTERED 
(
	[Address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Shipper_ak_CompanyName] UNIQUE NONCLUSTERED 
(
	[CompanyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Shipper_ak_Fax] UNIQUE NONCLUSTERED 
(
	[Fax] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Shipper_ak_Phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vat]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vat](
	[VatID] [int] IDENTITY(1,1) NOT NULL,
	[VatValue] [decimal](3, 2) NOT NULL,
 CONSTRAINT [Vat_pk] PRIMARY KEY CLUSTERED 
(
	[VatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Orders summary]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[Orders summary] as
    SELECT o.OrderID,
           o.OrderDate,
           CASE
               WHEN cp.FirstName IS NOT NULL THEN cp.FirstName + ' ' + cp.LastName
               ELSE cc.CompanyName
               END                                                                                  AS CustomerName,
           s.CompanyName                                                                            AS ShipperName,
           o.ShipmentDate,
           SUM(od.Quantity * od.UnitPrice * (1.0 - od.Discount))                                    AS OrderNetValue,
           SUM((od.Quantity * od.UnitPrice * (1.0 - od.Discount)) * v.VatValue)                     AS OrderVatAmount,
           o.Freight,
           SUM((od.Quantity * od.UnitPrice * (1.0 - od.Discount)) * (1.0 + v.VatValue)) + o.Freight AS OrderGrandTotal
    FROM dbo.Orders o
             JOIN dbo.Customer c ON o.CustomerID = c.CustomerID
             LEFT JOIN dbo.CustomerPerson cp ON c.CustomerID = cp.CustomerID
             LEFT JOIN dbo.CustomerCompany cc ON c.CustomerID = cc.CustomerID
             JOIN dbo.Shipper s ON o.ShipperID = s.ShipperID
             JOIN dbo.OrderDetails od ON o.OrderID = od.OrderID
             JOIN dbo.Product p ON od.ProductID = p.ProductID
             JOIN dbo.ProductCategory pc ON p.ProductCategoryID = pc.CategoryID
             JOIN dbo.VatCategories vc ON pc.CategoryID = vc.CategoryID
        AND o.OrderDate >= vc.StartDate
        AND o.OrderDate <= ISNULL(vc.EndDate, '9999-12-31')
        AND o.ShipmentDate IS NOT NULL
             JOIN dbo.Vat v ON vc.VatID = v.VatID

    GROUP BY o.OrderID,
             o.OrderDate,
             o.ShipmentDate,
             o.Freight,
             s.CompanyName,
             cp.FirstName, cp.LastName, cc.CompanyName
GO
/****** Object:  Table [dbo].[City]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityID] [int] NOT NULL,
	[CountryID] [int] NOT NULL,
	[CityName] [varchar](100) NOT NULL,
 CONSTRAINT [City_pk] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryID] [int] NOT NULL,
	[CountryName] [varchar](100) NOT NULL,
 CONSTRAINT [Country_pk] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Country_ak_CountryName] UNIQUE NONCLUSTERED 
(
	[CountryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[All customers data]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[All customers data] as
SELECT c.CustomerID,
       CASE
           WHEN cp.CustomerID IS NOT NULL THEN cp.FirstName + ' ' + cp.LastName
           WHEN cc.CustomerID IS NOT NULL THEN cc.CompanyName
           END        AS DisplayName,
       CASE
           WHEN cp.CustomerID IS NOT NULL THEN 'Osoba Prywatna'
           WHEN cc.CustomerID IS NOT NULL THEN 'Firma'
           END        AS CustomerType,
       c.Email,
       c.Phone,
       c.Address,
       c.PostalCode,
       ci.CityName,
       co.CountryName,
       cc.NIP,
       cc.ContactName AS CompanyContactPerson
FROM dbo.Customer c
         LEFT JOIN dbo.CustomerPerson cp ON c.CustomerID = cp.CustomerID
         LEFT JOIN dbo.CustomerCompany cc ON c.CustomerID = cc.CustomerID
         JOIN dbo.City ci ON c.CityID = ci.CityID
         JOIN dbo.Country co ON ci.CountryID = co.CountryID
GO
/****** Object:  Table [dbo].[SupplyOrders]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplyOrders](
	[SupplyID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[ComponentID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[ScheduledShipDate] [datetime] NOT NULL,
	[ShipmentDate] [datetime] NULL,
	[Quantity] [int] NOT NULL,
	[ShipmentPrice] [money] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Discount] [int] NOT NULL,
 CONSTRAINT [SupplyOrders_pk] PRIMARY KEY CLUSTERED 
(
	[SupplyID] ASC,
	[SupplierID] ASC,
	[ComponentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComponentCategory]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentCategory](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [varchar](100) NOT NULL,
 CONSTRAINT [ComponentCategory_pk] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ComponentCategory_ak_CatName] UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] NOT NULL,
	[SupplierName] [varchar](100) NOT NULL,
	[Address] [varchar](255) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[ContactName] [varchar](100) NOT NULL,
	[PostalCode] [varchar](6) NOT NULL,
	[CityID] [int] NOT NULL,
 CONSTRAINT [Supplier_pk] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Supplier_ak_Address] UNIQUE NONCLUSTERED 
(
	[Address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Supplier_ak_Name] UNIQUE NONCLUSTERED 
(
	[SupplierName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Supplier_ak_Phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[HalfProductsHistory]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[HalfProductsHistory]
AS
SELECT
	so.SupplyID, so.OrderDate, so.ScheduledShipDate, so.ShipmentDate, ((so.Quantity*so.UnitPrice)*(1 - so.Discount) + so.ShipmentPrice) as Price,
	c.ComponentName, cc.CategoryName,
	s.SupplierName, s.ContactName, s.Phone

FROM SupplyOrders as so
LEFT JOIN Supplier as s
	ON so.SupplierID = s.SupplierID
LEFT JOIN Component as c
	On so.ComponentID = c.ComponentID
Join ComponentCategory as cc
	ON c.ComponentCategoryID = cc.CategoryID
GO
/****** Object:  View [dbo].[ShippersInfo]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ShippersInfo]
AS
SELECT
	s.CompanyName, s.Address, s.Phone, co.CountryName, c.CityName


FROM Shipper as s
JOIN City as c
	ON s.CityID = c.CityID
Join Country as co
	On co.CountryID = c.CountryID
GO
/****** Object:  View [dbo].[SuppliersInfo]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SuppliersInfo]
AS
SELECT
	s.SupplierName, s.ContactName, s.Address, s.Phone, co.CountryName, c.CityName


FROM Supplier as s
JOIN City as c
	ON s.CityID = c.CityID
Join Country as co
	On co.CountryID = c.CountryID
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[BirthDate] [date] NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[HireDate] [date] NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[ReportsTo] [int] NULL,
	[Address] [varchar](255) NOT NULL,
	[PostalCode] [varchar](6) NOT NULL,
	[CityID] [int] NOT NULL,
 CONSTRAINT [Employee_pk] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Employee_ak_Phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeRole]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeRole](
	[RoleID] [int] NOT NULL,
	[RoleName] [varchar](100) NOT NULL,
	[HourlyPay] [money] NOT NULL,
 CONSTRAINT [EmployeeRole_pk] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [EmployeeRole_ak_RoleName] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[EmployeesInfo]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EmployeesInfo]
AS
SELECT
	e.EmployeeID, e.FirstName, e.LastName, er.RoleName, e.BirthDate, e.Phone, co.CountryName, c.CityName, e.Address


From Employee as e
JOIN EmployeeRole as er
	ON e.RoleID = er.RoleID
Join City as c
	ON e.CityID = c.CityID
JOIN Country as co
	ON c.CountryID = co.CountryID
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[ProductID] [int] NOT NULL,
	[ComponentID] [int] NOT NULL,
	[ComponentQuantityToProduceProduct] [int] NOT NULL,
 CONSTRAINT [ProductDetails_pk] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[ComponentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ProductBillOfMaterials]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ProductBillOfMaterials]
as
select pd.ProductID, p.ProductName, pd.ComponentID, c.ComponentName, pd.ComponentQuantityToProduceProduct
from ProductDetails pd
inner join Product p
on pd.ProductID = p.ProductID
inner join Component c
on c.ComponentID = pd.ComponentID
GO
/****** Object:  View [dbo].[ProductPriceAfterVat]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ProductPriceAfterVat]
as
select p.ProductID, p.ProductName, cast(p.SellingPrice*(1+isnull(v.VatValue, 0)) as decimal(10,2)) as Price 
from Product p
left join VatCategories vc
on p.ProductCategoryID = vc.CategoryID and vc.EndDate is null
left join Vat v
on v.VatID = vc.VatID
GO
/****** Object:  Table [dbo].[Production]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Production](
	[ProductionID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[QuantityProduced] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[ScheduledDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[Damaged] [bit] NOT NULL,
	[FineAssessed] [money] NULL,
	[ProductionPrice] [money] NOT NULL,
 CONSTRAINT [Production_pk] PRIMARY KEY CLUSTERED 
(
	[ProductionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusID] [int] NOT NULL,
	[StatusName] [varchar](100) NOT NULL,
	[StatusDescription] [varchar](255) NOT NULL,
 CONSTRAINT [Status_pk] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Status_ak_StatusName] UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusDetails]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusDetails](
	[StatusID] [int] NOT NULL,
	[ProductionID] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [StatusDetails_pk] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC,
	[ProductionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CurrentProduction]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[CurrentProduction]
AS
SELECT sd.ProductionID, pr.ProductID, pr.ProductName, e.EmployeeID, concat(e.FirstName ,' ', e.LastName) as EmployeeName, s.StatusName, p.StartDate
FROM StatusDetails sd
INNER JOIN Production p
	ON sd.ProductionID = p.ProductionID
INNER JOIN Product pr
	ON pr.ProductID = p.ProductID
INNER JOIN Status s
	ON s.StatusID = sd.StatusID
LEFT JOIN Employee e
	ON e.EmployeeID = p.EmployeeID
WHERE sd.EndDate is null and s.StatusName != 'Completed'
GO
/****** Object:  View [dbo].[ProductionHistory]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[ProductionHistory] as
    select sd.ProductionID,
           prdc.ProductID,
           prdc.ProductName,
           e.EmployeeID,
           concat(e.FirstName, ' ', e.LastName)       as EmployeeName,
           s.StatusName,
           p.ProductionPrice,
           sd.StartDate,
           sd.EndDate,
           DATEDIFF(MINUTE, sd.StartDate, sd.EndDate) as DurationInMinutes
    from StatusDetails sd
             inner join Production p
                        on sd.ProductionID = p.ProductionID
             inner join Product prdc
                        on prdc.ProductID = p.ProductID
             inner join Status s
                        on s.StatusID = sd.StatusID
             left join Employee e
                       on e.EmployeeID = p.EmployeeID
GO
/****** Object:  View [dbo].[EmployeeScheduleTemplate]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EmployeeScheduleTemplate]
AS
WITH DateGenerator AS (
    SELECT CAST(GETDATE() + 1 AS DATE) AS FutureDate
    UNION ALL
    SELECT DATEADD(DAY, 1, FutureDate)
    FROM DateGenerator
    WHERE DATEADD(DAY, 1, FutureDate) <= DATEADD(DAY, 30, GETDATE())
),
AllAssignments AS (
    SELECT 
        dg.FutureDate,
        e.EmployeeID,
        CONCAT(e.FirstName, ' ', e.LastName) AS EmployeeName,
        ROW_NUMBER() OVER(
            PARTITION BY dg.FutureDate
            ORDER BY NEWID()
        ) as RandomNumber
    FROM DateGenerator dg
    CROSS JOIN dbo.Employee e
)
SELECT 
    FutureDate,
    EmployeeID,
    EmployeeName
FROM AllAssignments
WHERE RandomNumber <= 10;
GO
/****** Object:  Table [dbo].[ComponentSupplyDetails]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentSupplyDetails](
	[ComponentID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[ShipTime] [int] NOT NULL,
	[ComponentPrice] [money] NOT NULL,
	[ShipmentPrice] [money] NOT NULL,
 CONSTRAINT [ComponentSupplyDetails_pk] PRIMARY KEY CLUSTERED 
(
	[ComponentID] ASC,
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ProductCategorySale]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ProductCategorySale] AS
WITH 
ComponentAvgPrice AS (
    SELECT 
        ComponentID, 
        AVG(ComponentPrice) AS Price
    FROM ComponentSupplyDetails
    GROUP BY ComponentID
),
ProductUnitCost AS (
    SELECT 
        pd.ProductID,
        SUM(pd.ComponentQuantityToProduceProduct * cap.Price) AS UnitMaterialCost
    FROM ProductDetails pd
    JOIN ComponentAvgPrice cap ON pd.ComponentID = cap.ComponentID
    GROUP BY pd.ProductID
),
UnifiedData AS (
    --Sprzedaż
    SELECT
        YEAR(o.OrderDate) AS ReportYear,
        MONTH(o.OrderDate) AS ReportMonth,
        DATEPART(week, o.OrderDate) AS ReportWeek,
        pc.CategoryName,
        (od.Quantity * od.UnitPrice) AS SalesVal,
        0.00 AS ProductionVal
    FROM Orders o
    JOIN OrderDetails od ON o.OrderID = od.OrderID
    JOIN Product p ON od.ProductID = p.ProductID
    JOIN ProductCategory pc ON p.ProductCategoryID = pc.CategoryID

    UNION ALL

    --Produkcja
    SELECT
        YEAR(pr.StartDate) AS ReportYear,
        MONTH(pr.StartDate) AS ReportMonth,
        DATEPART(week, pr.StartDate) AS ReportWeek,
        pc.CategoryName,
        0.00 AS SalesVal,
        (pr.QuantityProduced * ISNULL(puc.UnitMaterialCost, 0)) AS ProductionVal -- Koszt wyliczony z komponentów
    FROM Production pr
    JOIN Product p ON pr.ProductID = p.ProductID
    JOIN ProductCategory pc ON p.ProductCategoryID = pc.CategoryID
    LEFT JOIN ProductUnitCost puc ON p.ProductID = puc.ProductID
)

-- 4. Ostateczne grupowanie połączonych danych
SELECT
    ReportYear AS [Year],
    ReportMonth AS [Month],
    ReportWeek AS [Week],
    CategoryName AS [Product Category],
    SUM(SalesVal) AS [Total Sales],
    SUM(ProductionVal) AS [Production Cost]
FROM UnifiedData
GROUP BY 
    ReportYear, 
    ReportMonth, 
    ReportWeek, 
    CategoryName;
GO
/****** Object:  View [dbo].[MonthCategorySpend]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[MonthCategorySpend] as
    select ProductCategory.CategoryName, sum(ph.ProductionPrice) spends
    from ProductionHistory ph
             inner join Product on Product.ProductID = ph.ProductID
             inner join ProductCategory on Product.ProductCategoryID = ProductCategory.CategoryID
    where MONTH(StartDate) = MONTH(GETDATE())
    group by ProductCategory.CategoryName
GO
/****** Object:  View [dbo].[CategorySpends]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[CategorySpends] as
    SELECT TOP 100 PERCENT YEAR(ph.StartDate)              AS [Year],
                           DATEPART(QUARTER, ph.StartDate) AS [Quarter],
                           MONTH(ph.StartDate)             AS [Month],
                           ProductCategory.CategoryName    AS [Category],
                           SUM(ph.ProductionPrice)         AS [Category Spends]
    FROM ProductionHistory ph
             INNER JOIN Product ON Product.ProductID = ph.ProductID
             INNER JOIN ProductCategory ON Product.ProductCategoryID = ProductCategory.CategoryID
    GROUP BY YEAR(ph.StartDate),
             MONTH(ph.StartDate),
             DATEPART(QUARTER, ph.StartDate),
             ProductCategory.CategoryName
    ORDER BY [Year] ASC,
             [Month] DESC,
             [Category] ASC
GO
/****** Object:  View [dbo].[QuarterCategorySpends]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[QuarterCategorySpends] as
    select ProductCategory.CategoryName, sum(ph.ProductionPrice) spends
    from ProductionHistory ph
             inner join Product on Product.ProductID = ph.ProductID
             inner join ProductCategory on Product.ProductCategoryID = ProductCategory.CategoryID
    where DATEPART(QUARTER, StartDate) = DATEPART(QUARTER, GETDATE())
    group by ProductCategory.CategoryName
GO
/****** Object:  View [dbo].[ProductionPlanRaport]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ProductionPlanRaport] AS
SELECT 
    pc.CategoryName AS Category,
    p.ProductName AS ProductName,
    year(prod.ScheduledDate) AS PlannedYear,
    month(prod.ScheduledDate) AS PlannedMonth,
    COUNT(prod.ProductionID) AS NumberOfProductionOrders,
    SUM(prod.QuantityProduced) AS PlannedQuantity,
    SUM(prod.QuantityProduced * p.ProductionTime) AS EstimatedTimeLoad
FROM 
    Production prod
JOIN 
    Product p ON prod.ProductID = p.ProductID
JOIN 
    ProductCategory pc ON p.ProductCategoryID = pc.CategoryID
GROUP BY 
    pc.CategoryName,
    p.ProductName,
    year(prod.ScheduledDate),
    month(prod.ScheduledDate)
GO
/****** Object:  View [dbo].[CurrentProductAvailableInStock]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   VIEW [dbo].[CurrentProductAvailableInStock]
AS 
SELECT
    ProductID,
    ProductName,
    QuantityInStock,
    ReservedQuantity,
    CASE 
        WHEN (QuantityInStock - ReservedQuantity) < 0 
        THEN 0 
        ELSE (QuantityInStock - ReservedQuantity) 
    END AS AvailableForSale
FROM Product;
GO
/****** Object:  View [dbo].[MonthProductSpend]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[MonthProductSpend] as
select  ph.ProductName, sum(ph.ProductionPrice) ProductionPrice from ProductionHistory ph
                                                         inner join Product on Product.ProductID = ph.ProductID
                                                         inner join ProductCategory on Product.ProductCategoryID = ProductCategory.CategoryID
where MONTH(StartDate) = MONTH(GETDATE())
group by  ph.ProductName , ph.ProductID
GO
/****** Object:  View [dbo].[ProductSpends]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[ProductSpends] as
    SELECT TOP 100 PERCENT YEAR(ph.StartDate)              AS [Year],
                           DATEPART(QUARTER, ph.StartDate) AS [Quarter],
                           MONTH(ph.StartDate)             AS [Month],
                           Product.ProductName             AS [Product Name],
                           SUM(ph.ProductionPrice)         AS [Category Spends]
    FROM ProductionHistory ph
             INNER JOIN Product ON Product.ProductID = ph.ProductID
             INNER JOIN ProductCategory ON Product.ProductCategoryID = ProductCategory.CategoryID
    GROUP BY YEAR(ph.StartDate),
             MONTH(ph.StartDate),
             DATEPART(QUARTER, ph.StartDate),
             Product.ProductName
    ORDER BY [Year] DESC,
             [Month] DESC,
             [Product Name] ASC
GO
/****** Object:  View [dbo].[QuarterProductSpends]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[QuarterProductSpends] as
    select ph.ProductName, sum(ph.ProductionPrice) spends
    from ProductionHistory ph
             inner join Product on Product.ProductID = ph.ProductID
             inner join ProductCategory on Product.ProductCategoryID = ProductCategory.CategoryID
    where DATEPART(QUARTER, StartDate) = DATEPART(QUARTER, GETDATE())
    group by ph.ProductName, ph.ProductID
GO
/****** Object:  View [dbo].[PlannedProduction]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[PlannedProduction]
AS
SELECT
    pr.ProductionID,
    pr.ProductID,
    p.ProductName,
    pr.QuantityProduced,
    pr.StartDate,
    pr.ScheduledDate
FROM Production pr
JOIN Product p ON p.ProductID = pr.ProductID
WHERE pr.EndDate IS NULL;
GO
/****** Object:  View [dbo].[CurrentProductAndProductionStateRaport]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[CurrentProductAndProductionStateRaport] AS
SELECT
	p.ProductID, p.ProductName, p.QuantityInStock, p.ReservedQuantity, 
    ISNULL(SUM(pr.QuantityProduced), 0) AS PlannedToProduce, 
    CASE 
        WHEN (QuantityInStock - ReservedQuantity) < 0 
        THEN 0 
        ELSE (QuantityInStock - ReservedQuantity) 
    END AS AvailableNow,
    CASE 
        WHEN (p.QuantityInStock - p.ReservedQuantity + ISNULL(SUM(pr.QuantityProduced), 0)) < 0 
        THEN 0 
        ELSE (p.QuantityInStock - p.ReservedQuantity + ISNULL(SUM(pr.QuantityProduced), 0)) 
    END AS AvailableAfterProduction


FROM Product as p

LEFT JOIN Production as pr
	ON pr.ProductID = p.ProductID AND pr.EndDate is null

GROUP BY
    p.ProductID,
    p.ProductName,
    p.QuantityInStock,
    p.ReservedQuantity;
GO
/****** Object:  Index [Component_LowStock]    Script Date: 30.01.2026 12:38:04 ******/
CREATE NONCLUSTERED INDEX [Component_LowStock] ON [dbo].[Component]
(
	[QuantityInStock] ASC
)
WHERE ([QuantityInStock]<(100))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ComponentSupplyDetails_ComponentID]    Script Date: 30.01.2026 12:38:04 ******/
CREATE NONCLUSTERED INDEX [ComponentSupplyDetails_ComponentID] ON [dbo].[ComponentSupplyDetails]
(
	[ComponentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CustomerPerson_Name]    Script Date: 30.01.2026 12:38:04 ******/
CREATE NONCLUSTERED INDEX [CustomerPerson_Name] ON [dbo].[CustomerPerson]
(
	[LastName] ASC,
	[FirstName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [OrderDetails_ProductID]    Script Date: 30.01.2026 12:38:04 ******/
CREATE NONCLUSTERED INDEX [OrderDetails_ProductID] ON [dbo].[OrderDetails]
(
	[ProductID] ASC
)
INCLUDE([Quantity],[UnitPrice]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Orders_OrderDate]    Script Date: 30.01.2026 12:38:04 ******/
CREATE NONCLUSTERED INDEX [Orders_OrderDate] ON [dbo].[Orders]
(
	[OrderDate] ASC
)
INCLUDE([Freight],[CustomerID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Product_LowStock]    Script Date: 30.01.2026 12:38:04 ******/
CREATE NONCLUSTERED INDEX [Product_LowStock] ON [dbo].[Product]
(
	[QuantityInStock] ASC
)
WHERE ([QuantityInStock]<(50))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Product_ProductCategoryID]    Script Date: 30.01.2026 12:38:04 ******/
CREATE NONCLUSTERED INDEX [Product_ProductCategoryID] ON [dbo].[Product]
(
	[ProductCategoryID] ASC
)
INCLUDE([ProductName]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Production_StatusDates]    Script Date: 30.01.2026 12:38:04 ******/
CREATE NONCLUSTERED INDEX [Production_StatusDates] ON [dbo].[Production]
(
	[ScheduledDate] ASC
)
INCLUDE([ProductID],[QuantityProduced]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [SupplyOrders_Dates]    Script Date: 30.01.2026 12:38:04 ******/
CREATE NONCLUSTERED INDEX [SupplyOrders_Dates] ON [dbo].[SupplyOrders]
(
	[ScheduledShipDate] ASC,
	[ShipmentDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Component] ADD  DEFAULT ((0)) FOR [MinStockLevel]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [MinStockLevel]
GO
ALTER TABLE [dbo].[Production] ADD  DEFAULT ((0)) FOR [ProductionPrice]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [City_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [City_Country]
GO
ALTER TABLE [dbo].[Component]  WITH CHECK ADD  CONSTRAINT [Components_ComponentCategory] FOREIGN KEY([ComponentCategoryID])
REFERENCES [dbo].[ComponentCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[Component] CHECK CONSTRAINT [Components_ComponentCategory]
GO
ALTER TABLE [dbo].[ComponentSupplyDetails]  WITH CHECK ADD  CONSTRAINT [ComponentSupplyDetails_Components] FOREIGN KEY([ComponentID])
REFERENCES [dbo].[Component] ([ComponentID])
GO
ALTER TABLE [dbo].[ComponentSupplyDetails] CHECK CONSTRAINT [ComponentSupplyDetails_Components]
GO
ALTER TABLE [dbo].[ComponentSupplyDetails]  WITH CHECK ADD  CONSTRAINT [ComponentSupplyDetails_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[ComponentSupplyDetails] CHECK CONSTRAINT [ComponentSupplyDetails_Suppliers]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [Customer_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([CityID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [Customer_City]
GO
ALTER TABLE [dbo].[CustomerCompany]  WITH CHECK ADD  CONSTRAINT [CustomerCompany_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[CustomerCompany] CHECK CONSTRAINT [CustomerCompany_Customer]
GO
ALTER TABLE [dbo].[CustomerPerson]  WITH CHECK ADD  CONSTRAINT [CustomerPerson_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[CustomerPerson] CHECK CONSTRAINT [CustomerPerson_Customer]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [Employees_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([CityID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [Employees_City]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [Employees_EmployeeRole] FOREIGN KEY([RoleID])
REFERENCES [dbo].[EmployeeRole] ([RoleID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [Employees_EmployeeRole]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [Employees_Employees] FOREIGN KEY([ReportsTo])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [Employees_Employees]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [OrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [OrderDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [OrderDetails_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [Orders_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [Orders_Customer]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [Orders_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [Orders_Employees]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [Orders_Shippers] FOREIGN KEY([ShipperID])
REFERENCES [dbo].[Shipper] ([ShipperID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [Orders_Shippers]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [Products_ProductsCategory] FOREIGN KEY([ProductCategoryID])
REFERENCES [dbo].[ProductCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [Products_ProductsCategory]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [ProductDetails_Components] FOREIGN KEY([ComponentID])
REFERENCES [dbo].[Component] ([ComponentID])
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [ProductDetails_Components]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [ProductDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [ProductDetails_Products]
GO
ALTER TABLE [dbo].[Production]  WITH CHECK ADD  CONSTRAINT [Production_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Production] CHECK CONSTRAINT [Production_Employees]
GO
ALTER TABLE [dbo].[Production]  WITH CHECK ADD  CONSTRAINT [Production_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Production] CHECK CONSTRAINT [Production_Products]
GO
ALTER TABLE [dbo].[Shipper]  WITH CHECK ADD  CONSTRAINT [Shippers_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([CityID])
GO
ALTER TABLE [dbo].[Shipper] CHECK CONSTRAINT [Shippers_City]
GO
ALTER TABLE [dbo].[StatusDetails]  WITH CHECK ADD  CONSTRAINT [StatusDetails_Production] FOREIGN KEY([ProductionID])
REFERENCES [dbo].[Production] ([ProductionID])
GO
ALTER TABLE [dbo].[StatusDetails] CHECK CONSTRAINT [StatusDetails_Production]
GO
ALTER TABLE [dbo].[StatusDetails]  WITH CHECK ADD  CONSTRAINT [StatusDetails_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([StatusID])
GO
ALTER TABLE [dbo].[StatusDetails] CHECK CONSTRAINT [StatusDetails_Status]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [Suppliers_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([CityID])
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [Suppliers_City]
GO
ALTER TABLE [dbo].[SupplyOrders]  WITH CHECK ADD  CONSTRAINT [SupplyOrders_ComponentSupplyDetails] FOREIGN KEY([ComponentID], [SupplierID])
REFERENCES [dbo].[ComponentSupplyDetails] ([ComponentID], [SupplierID])
GO
ALTER TABLE [dbo].[SupplyOrders] CHECK CONSTRAINT [SupplyOrders_ComponentSupplyDetails]
GO
ALTER TABLE [dbo].[VatCategories]  WITH CHECK ADD  CONSTRAINT [VatDetails_ProductCategory] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ProductCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[VatCategories] CHECK CONSTRAINT [VatDetails_ProductCategory]
GO
ALTER TABLE [dbo].[VatCategories]  WITH CHECK ADD  CONSTRAINT [VatDetails_Vat] FOREIGN KEY([VatID])
REFERENCES [dbo].[Vat] ([VatID])
GO
ALTER TABLE [dbo].[VatCategories] CHECK CONSTRAINT [VatDetails_Vat]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [CheckEmail] CHECK  (([Email] like '%@%' AND NOT [Email] like '@%' AND NOT [Email] like '%@'))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [CheckEmail]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [CheckPhone] CHECK  ((NOT [Phone] like '%[^0-9-]%'))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [CheckPhone]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [CheckPostalCode] CHECK  (([PostalCode] like '%-%' AND NOT [PostalCode] like '-%' AND NOT [PostalCode] like '%-'))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [CheckPostalCode]
GO
ALTER TABLE [dbo].[CustomerCompany]  WITH CHECK ADD  CONSTRAINT [CheckFax] CHECK  ((NOT [Fax] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[CustomerCompany] CHECK CONSTRAINT [CheckFax]
GO
ALTER TABLE [dbo].[CustomerCompany]  WITH CHECK ADD  CONSTRAINT [CheckNIP] CHECK  ((NOT [NIP] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[CustomerCompany] CHECK CONSTRAINT [CheckNIP]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CheckBirthDate] CHECK  (([BirthDate]<[HireDate]))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CheckBirthDate]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CheckPhone1] CHECK  (([Phone] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]%'))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CheckPhone1]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CheckPostalCode1] CHECK  (([PostalCode] like '%-%' AND NOT [PostalCode] like '-%' AND NOT [PostalCode] like '%-'))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CheckPostalCode1]
GO
ALTER TABLE [dbo].[Shipper]  WITH CHECK ADD  CONSTRAINT [CheckFax1] CHECK  (([Fax] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]%'))
GO
ALTER TABLE [dbo].[Shipper] CHECK CONSTRAINT [CheckFax1]
GO
ALTER TABLE [dbo].[Shipper]  WITH CHECK ADD  CONSTRAINT [CheckPhone2] CHECK  ((NOT [Phone] like '^[0-9]{9,}$'))
GO
ALTER TABLE [dbo].[Shipper] CHECK CONSTRAINT [CheckPhone2]
GO
ALTER TABLE [dbo].[Shipper]  WITH CHECK ADD  CONSTRAINT [CheckPostalCode2] CHECK  (([PostalCode] like '%-%' AND NOT [PostalCode] like '-%' AND NOT [PostalCode] like '%-'))
GO
ALTER TABLE [dbo].[Shipper] CHECK CONSTRAINT [CheckPostalCode2]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [CheckPhone3] CHECK  (([phone] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]%'))
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [CheckPhone3]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [CheckPostalCode3] CHECK  (([PostalCode] like '%-%' AND NOT [PostalCode] like '-%' AND NOT [PostalCode] like '%-'))
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [CheckPostalCode3]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddCompanyCustomer]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_AddCompanyCustomer]
	@p_Email varchar(100),
	@p_Phone varchar(15),
	@p_Addres varchar(255),
	@p_PostalCode varchar(6),
	@p_CityID int,
	@p_CompanyName varchar(100),
	@p_Fax varchar(10),
	@p_ContactName varchar(100),
	@p_NIP varchar(10)
as
begin
	set nocount on;
	set xact_abort on; 
	begin transaction;

		IF NOT EXISTS (SELECT 1 FROM City WHERE CityID = @p_CityID)
		BEGIN
			RAISERROR('Błąd: Podane miasto (ID: %d) nie istnieje.', 16, 1, @p_CityID);
			RETURN;
		END

		IF EXISTS (SELECT 1 FROM CustomerCompany WHERE NIP = @p_NIP)
		BEGIN
			RAISERROR('Błąd: Firma o podanym numerze NIP (%s) już istnieje w bazie.', 16, 1, @p_NIP);
			RETURN;
		END

		IF LEN(@p_NIP) <> 10 OR @p_NIP LIKE '%[^0-9]%'
		BEGIN
			RAISERROR('Błąd: NIP musi składać się dokładnie z 10 cyfr.', 16, 1);
			RETURN;
		END

		IF LEN(@p_FAX) <> 10 OR @p_FAX LIKE '%[^0-9]%'
		BEGIN
			RAISERROR('Błąd: FAX musi składać się dokładnie z 10 cyfr.', 16, 1);
			RETURN;
		END

		IF @p_Email NOT LIKE '%@%.%'
		BEGIN
			RAISERROR('Błąd: Niepoprawny format adresu email.', 16, 1);
			RETURN;
		END

		insert into Customer (Email, Phone, Address, PostalCode, CityID)
		values (@p_Email, @p_Phone, @p_Addres, @p_PostalCode, @p_CityID)

		declare @NewCustomerID int = scope_identity();

		insert into CustomerCompany (CustomerID, CompanyName, Fax, ContactName, NIP)
		values (@NewCustomerID, @p_CompanyName, @p_Fax, @p_ContactName, @p_NIP)

	commit transaction;
end
GO
/****** Object:  StoredProcedure [dbo].[usp_AddComponent]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_AddComponent] @p_comp_name varchar(100),
                                        @p_category_id int,
                                        @p_qty_initial int,
                                        @p_supplier_id int,
                                        @p_price money,
                                        @p_ship_time int,
                                        @p_ship_price money
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @v_new_comp_id int;

    IF NOT EXISTS (SELECT 1 FROM ComponentCategory WHERE CategoryID = @p_category_id)
        BEGIN
            RAISERROR ('Błąd: Podana kategoria (ID: %d) nie istnieje!', 16, 1, @p_category_id);
        END

    IF NOT EXISTS (SELECT 1 FROM Supplier WHERE SupplierID = @p_supplier_id)
        BEGIN
            RAISERROR ('Błąd: Podany dostawca (ID: %d) nie istnieje!', 16, 1, @p_supplier_id);
        END

    IF EXISTS (SELECT 1 FROM Component WHERE ComponentName = @p_comp_name)
        BEGIN
            RAISERROR ('Błąd: Komponent "%s" już istnieje w bazie!', 16, 1, @p_comp_name);
        END

    SELECT @v_new_comp_id = ISNULL(MAX(ComponentID), 0) + 1 FROM Component;

    BEGIN TRANSACTION
        BEGIN TRY
            INSERT INTO Component (ComponentID, ComponentName, ComponentCategoryID, QuantityInStock, ReservedQuantity)
            VALUES (@v_new_comp_id, @p_comp_name, @p_category_id, @p_qty_initial, 0);
            INSERT INTO ComponentSupplyDetails (ComponentID, SupplierID, ShipTime, ComponentPrice, ShipmentPrice)
            VALUES (@v_new_comp_id, @p_supplier_id, @p_ship_time, @p_price, @p_ship_price);
            COMMIT TRANSACTION;
            PRINT 'Sukces: Komponent został dodany poprawnie.';
        END TRY
        BEGIN CATCH
            ROLLBACK TRANSACTION;
            DECLARE @ErrMsg nvarchar(4000) = ERROR_MESSAGE();
            RAISERROR (@ErrMsg, 16, 1);
        END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_AddPersonCustomer]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_AddPersonCustomer]
	@p_Email varchar(100),
	@p_Phone varchar(15),
	@p_Addres varchar(255),
	@p_PostalCode varchar(6),
	@p_CityID int,
	@p_FirstName varchar(100),
	@p_LastName varchar(100)
as
begin
	set nocount on;
	set xact_abort on; 
	begin transaction;

		IF NOT EXISTS (SELECT 1 FROM City WHERE CityID = @p_CityID)
		BEGIN
			RAISERROR('Błąd: Podane miasto (ID: %d) nie istnieje.', 16, 1, @p_CityID);
			RETURN;
		END

		IF @p_Email NOT LIKE '%@%.%'
		BEGIN
			RAISERROR('Błąd: Niepoprawny format adresu email.', 16, 1);
			RETURN;
		END

		insert into Customer (Email, Phone, Address, PostalCode, CityID)
		values (@p_Email, @p_Phone, @p_Addres, @p_PostalCode, @p_CityID)

		declare @NewCustomerID int = scope_identity();

		insert into CustomerPerson(CustomerID, FirstName, LastName)
		values (@NewCustomerID, @p_FirstName, @p_LastName)

	commit transaction;
end
GO
/****** Object:  StoredProcedure [dbo].[usp_AddProduct]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_AddProduct]
    @p_product_name varchar(100),
    @p_category_id int,
    @p_prod_price money,
    @p_sell_price money,
    @p_prod_time int,
    @p_qty_stock int,
    @Components ComponentListType READONLY
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @v_new_prod_id int;

    IF NOT EXISTS (SELECT 1 FROM ProductCategory WHERE CategoryID = @p_category_id)
        BEGIN
            RAISERROR('Błąd: Kategoria nie istnieje!', 16, 1);
        END

    SELECT @v_new_prod_id = ISNULL(MAX(ProductID), 0) + 1 FROM Product;

    BEGIN TRANSACTION
        BEGIN TRY
            INSERT INTO Product (
                ProductID, ProductName, ProductCategoryID, ProductionPrice,
                SellingPrice, ProductionTime, QuantityInStock, ReservedQuantity, Discontinued
            )
            VALUES (
                       @v_new_prod_id, @p_product_name, @p_category_id, @p_prod_price,
                       @p_sell_price, @p_prod_time, @p_qty_stock, 0, 0
                   );

            INSERT INTO ProductDetails (ProductID, ComponentID, ComponentQuantityToProduceProduct)
            SELECT @v_new_prod_id, ComponentID, QuantityNeeded
            FROM @Components;

            IF @@ROWCOUNT = 0
                BEGIN
                    PRINT 'Ostrzeżenie: Dodano produkt bez składników!';
                END

            COMMIT TRANSACTION;
            PRINT 'Sukces: Produkt i jego receptura zostały zapisane.';
        END TRY
        BEGIN CATCH
            ROLLBACK TRANSACTION;
            DECLARE @Msg nvarchar(4000) = ERROR_MESSAGE();
            RAISERROR(@Msg, 16, 1);
        END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_CompleteSupplyOrder]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_CompleteSupplyOrder]
    @p_SupplyID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @v_ComponentID INT,
        @v_Quantity INT;

    SELECT
        @v_ComponentID = ComponentID,
        @v_Quantity = Quantity
    FROM SupplyOrders
    WHERE SupplyID = @p_SupplyID;

    UPDATE SupplyOrders
        SET ShipmentDate = GETDATE()
    WHERE SupplyID = @p_SupplyID;

    UPDATE Component
        SET QuantityInStock = QuantityInStock + @v_Quantity
    WHERE ComponentID = @v_ComponentID;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateOrder]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_CreateOrder]
	@p_CustomerID int,
	@p_EmployeeID int,
	@p_OrderDate datetime = null,
	@p_Freight money,
	@p_ShipperID int,
	@p_ProductsList dbo.ListProductQuantity readonly
as
begin
	set nocount on;
	set xact_abort on; 
	begin transaction;

	declare @v_ProductID int
	declare @v_MissingQuantity int
	declare @table_PlannedDate table (PlannedDate datetime);
	declare @v_PlannedDate datetime

	if @p_OrderDate is null set @p_OrderDate = getdate();
	set @v_PlannedDate = @p_OrderDate;
	declare @v_ResultPlannedDate datetime = @p_OrderDate;

	declare @v_RandomEmployeeID int;

	declare cursor_missing_products cursor local fast_forward for
	select p.ProductID, abs(p.QuantityInStock - pl.Quantity) as MissingQuantity
	from Product p
	inner join @p_ProductsList pl
	on p.ProductID = pl.ProductID
	where p.QuantityInStock - pl.Quantity < 0

	open cursor_missing_products

	fetch next from cursor_missing_products
	into @v_ProductID, @v_MissingQuantity

	while @@FETCH_STATUS = 0
	begin
		delete from @table_PlannedDate;
		set @v_RandomEmployeeID = (ABS(CHECKSUM(NEWID())) % 12) + 2;

		insert into @table_PlannedDate
		exec dbo.usp_StartProduction
			@p_ProductID = @v_ProductID, 
			@p_QuantityToProduce = @v_MissingQuantity, 
			@p_EmployeeID = @v_RandomEmployeeID;

		select top 1 @v_ResultPlannedDate = PlannedDate from @table_PlannedDate;

		if @v_ResultPlannedDate > @v_PlannedDate  
        begin
            set @v_PlannedDate = @v_ResultPlannedDate;
        end
		
		fetch next from cursor_missing_products into @v_ProductID, @v_MissingQuantity;
	end
	close cursor_missing_products;
	deallocate cursor_missing_products;

	update p
	set p.QuantityInStock = CASE 
								WHEN p.QuantityInStock < pl.Quantity THEN 0 
								ELSE p.QuantityInStock - pl.Quantity
							END, p.ReservedQuantity = p.ReservedQuantity + pl.Quantity
	from Product p
	inner join @p_ProductsList pl
	on p.ProductID = pl.ProductID

	SET @v_PlannedDate = DATEADD(day, 3, @v_PlannedDate);

	insert into dbo.Orders (CustomerID, EmployeeID, OrderDate,PlannedShipDate, Freight, ShipperID)
	values (@p_CustomerID, @p_EmployeeID, @p_OrderDate, @v_PlannedDate, @p_Freight, @p_ShipperID)

	declare @NewOrderID int = SCOPE_IDENTITY();

	insert into OrderDetails (OrderID, ProductID, UnitPrice, Quantity, Discount)
    select @NewOrderID, pl.ProductID, p.SellingPrice, pl.Quantity, (ABS(CHECKSUM(NEWID())) % 10) / 10.0
    from @p_ProductsList pl
	inner join Product p
	on p.ProductID = pl.ProductID

	SELECT @v_PlannedDate AS OrderSheduledDate;

	commit transaction;
end
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateSupplyOrder]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_CreateSupplyOrder]
    @p_ComponentID INT,
    @p_Quantity INT,
    @p_Discount INT = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @v_SupplierID INT,
        @v_ComponentPrice MONEY,
        @v_ShipmentPrice MONEY,
        @v_ShipTime INT,
        @v_ScheduledShipDate DATETIME,
        @v_SupplyId INT;

    SELECT
        @v_SupplierID = SupplierID,
        @v_ComponentPrice = ComponentPrice,
        @v_ShipmentPrice = ShipmentPrice,
        @v_ShipTime = ShipTime
    FROM ComponentSupplyDetails
    WHERE ComponentID = @p_ComponentID;



    IF NOT EXISTS (SELECT 1 FROM Component WHERE ComponentID = @p_ComponentID)
        RAISERROR ('Błąd: Komponent nie istnieje.', 16, 1);

    IF @v_SupplierID IS NULL
        RAISERROR ('Brak danych dostawczych dla komponentu.', 16, 1);

    SET @v_ScheduledShipDate = DATEADD(day, @v_ShipTime, GETDATE());

    SELECT @v_SupplyID = ISNULL(MAX(SupplyID), 0) + 1 FROM SupplyOrders;

    INSERT INTO SupplyOrders (
            SupplyID,
            ComponentID,
            SupplierID,
            OrderDate,
            ScheduledShipDate,
            Quantity,
            UnitPrice,
            ShipmentPrice,
            ShipmentDate,
            Discount
        )
        VALUES (
            @v_SupplyID, 
            @p_ComponentID,
            @v_SupplierID,
            GETDATE(),
            @v_ScheduledShipDate,
            @p_Quantity,
            @v_ComponentPrice,
            @v_ShipmentPrice,
            NULL,
            @p_Discount
        );

END;


    
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateVat]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_CreateVat]
	@p_VatValue decimal(3,2),
	@p_CategoryID int
as
begin
	set nocount on;
	set xact_abort on;

	declare @v_VatID int;
	declare @CurrentVatID int;

	begin transaction;

		select @v_VatID = VatID
		from Vat
		where VatValue = @p_VatValue

		if @v_VatID is null
		begin
			insert into Vat (VatValue)
			values (@p_VatValue)
			set @v_VatID = SCOPE_IDENTITY();
		end

		select top 1 @CurrentVatID = VatID
		from VatCategories
		where CategoryID = @p_CategoryID
		order by StartDate desc;

		if @CurrentVatID is null or @CurrentVatID <> @v_VatID
		begin
			update VatCategories
			set EndDate = GETDATE()
			where CategoryID = @p_CategoryID and EndDate is null;

			insert into VatCategories (VatID, CategoryID, StartDate)
			values (@v_VatID, @p_CategoryID, GETDATE());
		end

	commit transaction;
end
GO
/****** Object:  StoredProcedure [dbo].[usp_GetOrderDate]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_GetOrderDate]
	@p_ProductsList dbo.ListProductQuantity readonly
as
begin
	set nocount on;
	begin transaction;

	declare @v_ProductID int
	declare @v_MissingQuantity int
	declare @table_PlannedDate table (PlannedDate datetime);
	declare @v_PlannedDate datetime

	set @v_PlannedDate = GETDATE();
	declare @v_ResultPlannedDate datetime = GETDATE();

	declare cursor_missing_products cursor local fast_forward for
	select p.ProductID, abs(p.QuantityInStock - pl.Quantity) as MissingQuantity
	from Product p
	inner join @p_ProductsList pl
	on p.ProductID = pl.ProductID
	where p.QuantityInStock - pl.Quantity < 0

	open cursor_missing_products

	fetch next from cursor_missing_products
	into @v_ProductID, @v_MissingQuantity

	while @@FETCH_STATUS = 0
	begin
		delete from @table_PlannedDate;

		SAVE TRANSACTION ProductionDate;
			insert into @table_PlannedDate
			exec dbo.usp_StartProduction
				@p_ProductID = @v_ProductID, 
				@p_QuantityToProduce = @v_MissingQuantity, 
				@p_EmployeeID = 2;
		ROLLBACK TRANSACTION ProductionDate;

		select top 1 @v_ResultPlannedDate = PlannedDate from @table_PlannedDate;

		if @v_ResultPlannedDate > @v_PlannedDate  
        begin
            set @v_PlannedDate = @v_ResultPlannedDate;
        end
		
		fetch next from cursor_missing_products into @v_ProductID, @v_MissingQuantity;
	end
	close cursor_missing_products;
	deallocate cursor_missing_products;

	SET @v_PlannedDate = DATEADD(day, 3, @v_PlannedDate);

	SELECT @v_PlannedDate AS OrderSheduledDate;

	commit transaction;
end
GO
/****** Object:  StoredProcedure [dbo].[usp_GetOrderTotalCost]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_GetOrderTotalCost]
	@p_ProductsList dbo.ListProductQuantity readonly
as
begin
	SET NOCOUNT ON;

    SELECT SUM(p.SellingPrice * pl.Quantity) AS TotalCost
    FROM Product p
    INNER JOIN @p_ProductsList pl ON p.ProductID = pl.ProductID;
end
GO
/****** Object:  StoredProcedure [dbo].[usp_StartProduction]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_StartProduction] @p_ProductID int,
                                             @p_QuantityToProduce int,
                                             @p_EmployeeID int
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @v_NewProductionID int;
    DECLARE @v_ProductionTimeMinutes int;
    DECLARE @v_ScheduledDate datetime;
    DECLARE @v_StatusID int;
    DECLARE @v_MissingPartsCount int;
    DECLARE @v_MaxDelayDays int = 0;
    DECLARE @v_HourlyRate decimal(18, 2); -- Stawka pracownika
    DECLARE @v_TotalLaborCost decimal(18, 2); -- Koszt robocizny całościowy
    DECLARE @v_UnitMaterialCost decimal(18, 2);-- Koszt części na 1 produkt
    DECLARE @v_TotalMaterialCost decimal(18, 2);-- Koszt części na całe zamówienie
    DECLARE @v_CalculatedPrice decimal(18, 2);
    -- Ostateczna cena produkcji

    -- 1. WALIDACJA
    IF NOT EXISTS (SELECT 1 FROM Product WHERE ProductID = @p_ProductID)
        BEGIN
            RAISERROR ('Błąd: Produkt o ID %d nie istnieje.', 16, 1, @p_ProductID);
        END

    IF NOT EXISTS (SELECT 1 FROM Employee WHERE EmployeeID = @p_EmployeeID)
        BEGIN
            RAISERROR ('Błąd: Pracownik o ID %d nie istnieje.', 16, 1, @p_EmployeeID);
        END

    SELECT @v_ProductionTimeMinutes = ProductionTime FROM Product WHERE ProductID = @p_ProductID;
    SELECT @v_HourlyRate = er.HourlyPay
    FROM Employee e
             JOIN EmployeeRole er ON e.RoleID = er.RoleID
    WHERE e.EmployeeID = @p_EmployeeID;

    SET @v_TotalLaborCost = (@v_ProductionTimeMinutes / 60) * @v_HourlyRate;

    SELECT @v_UnitMaterialCost = SUM(NajtanszeCeny.MinPrice * pd.ComponentQuantityToProduceProduct)
    FROM ProductDetails pd
             JOIN (SELECT ComponentID, MIN(ComponentPrice) AS MinPrice
                   FROM ComponentSupplyDetails
                   GROUP BY ComponentID) AS NajtanszeCeny ON pd.ComponentID = NajtanszeCeny.ComponentID
    WHERE pd.ProductID = @p_ProductID;

    SET @v_TotalMaterialCost = @v_UnitMaterialCost * @p_QuantityToProduce;
    SET @v_CalculatedPrice = @v_TotalLaborCost + @v_TotalMaterialCost;


    DECLARE @MissingComponents TABLE
                               (
                                   ShipTime int
                               );

    INSERT INTO @MissingComponents (ShipTime)
    SELECT (SELECT MIN(ShipTime) FROM ComponentSupplyDetails csd WHERE csd.ComponentID = pd.ComponentID)
    FROM ProductDetails pd
             JOIN Component c ON pd.ComponentID = c.ComponentID
    WHERE pd.ProductID = @p_ProductID
      AND c.QuantityInStock < (pd.ComponentQuantityToProduceProduct * @p_QuantityToProduce);

    SELECT @v_MissingPartsCount = COUNT(*) FROM @MissingComponents;

    -- 3. LOGIKA STATUSÓW I DATY
    IF @v_MissingPartsCount > 0
        BEGIN
            -- SCENARIUSZ: BRAK CZĘŚCI (Status 4)
            SET @v_StatusID = 4; -- On Hold
            SELECT @v_MaxDelayDays = MAX(ShipTime)*60*24 FROM @MissingComponents;
            SET @v_ScheduledDate = DATEADD(minute, @v_MaxDelayDays + @v_ProductionTimeMinutes, GETDATE());
            PRINT 'Status: ON HOLD (Braki). Rezerwuję potrzebne ilości i czekam na dostawę.';
        END
    ELSE
        BEGIN
            -- SCENARIUSZ: JEST OK (Status 2)
            SET @v_StatusID = 2;
            SET @v_ScheduledDate = DATEADD(minute, @v_ProductionTimeMinutes, GETDATE());
            PRINT 'Status: IN PROGRESS. Pobieram materiały i startuję.';
        END

    BEGIN TRANSACTION
        BEGIN TRY
            SELECT @v_NewProductionID = MAX(ProductionID) + 1 FROM Production;

            INSERT INTO Production (ProductionID, ProductID, EmployeeID, QuantityProduced,
                                    StartDate, ScheduledDate, EndDate, Damaged, FineAssessed, ProductionPrice)
            VALUES (@v_NewProductionID, @p_ProductID, @p_EmployeeID, @p_QuantityToProduce,
                    GETDATE(), @v_ScheduledDate, NULL, 0, NULL, @v_CalculatedPrice)

            IF @v_StatusID = 4
                BEGIN
                    -- STATUS 4: Brakuje części -> Zwiększamy RESERVED QUANTITY
                    -- Rezerwujemy tyle, ile wymaga całe zlecenie
                    UPDATE c
                    SET c.ReservedQuantity = c.ReservedQuantity +
                                             (pd.ComponentQuantityToProduceProduct * @p_QuantityToProduce)
                    FROM Component c
                             JOIN ProductDetails pd ON c.ComponentID = pd.ComponentID
                    WHERE pd.ProductID = @p_ProductID;
                END
            ELSE
                IF @v_StatusID = 2
                    BEGIN
                        -- STATUS 2: Produkcja rusza -> Zmniejszamy QUANTITY IN STOCK
                        UPDATE c
                        SET c.QuantityInStock = c.QuantityInStock -
                                                (pd.ComponentQuantityToProduceProduct * @p_QuantityToProduce)
                        FROM Component c
                                 JOIN ProductDetails pd ON c.ComponentID = pd.ComponentID
                        WHERE pd.ProductID = @p_ProductID;
                    END

            -- C. Historia Statusów
            INSERT INTO StatusDetails (StatusID, ProductionID, StartDate, EndDate)
            VALUES (@v_StatusID, @v_NewProductionID, GETDATE(), NULL);

            COMMIT TRANSACTION;
        END TRY
        BEGIN CATCH
            ROLLBACK TRANSACTION;
            DECLARE @ErrMsg nvarchar(4000) = ERROR_MESSAGE();
            RAISERROR (@ErrMsg, 16, 1);
        END CATCH
        select @v_ScheduledDate as result

END;
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateProductionStatus]    Script Date: 30.01.2026 12:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_UpdateProductionStatus]
    @p_ProductionID INT,
    @p_NewStatusID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Production WHERE ProductionID = @p_ProductionID)
        RAISERROR('Błąd: zlecenie produkcji o ID %d nie istnieje.', 16, 1, @p_ProductionID);

    DECLARE @v_OldStatusID INT;

    SELECT TOP 1 @v_OldStatusID = StatusID
    FROM StatusDetails
    WHERE ProductionID = @p_ProductionID
    ORDER BY StartDate DESC;

    IF @v_OldStatusID IS NOT NULL
    BEGIN
        UPDATE StatusDetails
        SET EndDate = GETDATE()
        WHERE ProductionID = @p_ProductionID
          AND StatusID = @v_OldStatusID
    END

    INSERT INTO StatusDetails (ProductionID, StatusID, StartDate, EndDate)
    VALUES (@p_ProductionID, @p_NewStatusID, GETDATE(), NULL)

END;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'testuje jak dzialj widoki' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'test'
GO
USE [master]
GO
